<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- Custom CSS -->
    <link href="/css/main.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/handlebars/handlebars.js"></script>
    <script src="/bower_components/typeahead.js/dist/typeahead.jquery.js"></script>

    <title>Clubble</title>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Clubble</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                       <a href="/user">{{user.email}}</a> 
                    </li>
                    <li>
                        {{#if user.email}}
                            <a href="/logout">Logout</a>
                        {{else}}
                            <a id='loginBtn')>Login</a>
                        {{/if}}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class='page-content'>
        {{{body}}}
    </div>

</body>
</html>
<script type="text/javascript">

var baseLink = '/login';

$(document).ready(function () 
{
    $('#loginBtn').mouseenter(function () 
    {
        var link = baseLink + "?next=" + window.location.pathname;
        $("#loginBtn").attr("href", link);
    });

});

</script>
