<h1>Clubble</h1>
<h3><a href="/create_club">Create new Club</a></h3>
<h3><a href="/register">Register User</a></h3>
{{#if user}}
    <h3><a href="/logout">Logout</a></h3>
    {{user}}
{{else}}
    <h3><a href="/login">Login</a></h3>
{{/if}}
