.well {
    background: white;
}
.club-header {
    position: relative;
}
.club-header > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.club-body {
    background-color: #E9EBEE;
    padding: 0px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.club-about-well {
    padding-top: 5px;
}

.badge1 {
   position:relative;
}
.badge1:after {
    content: "editable";
    position: relative;
    right: -10px;
    font-size: 12px;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 13px;
}
