.well {
    background: white;
}
.club-header {
    position: relative;
    overflow: hidden;
    height: 300px;
}
.image-holder {
    position: absolute;
    
}
.club-name-holder {
    z-index: 1;
    position: relative;
}

.clubTitle {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    color: white;
    background: rgba(0,0,0,0.30);
    border: none;
    background: url('../img/gradient.png') bottom left repeat-x;
}

.banner-photo {
    padding: 0px;
    width: 940px;
}

.club-body {
    background-color: #E9EBEE;
    padding: 0px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.club-about-well {
    padding-top: 5px;
}

.badge1 {
   position:relative;
}
.badge1:after {
    content: "editable";
    position: relative;
    right: -10px;
    font-size: 12px;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 13px;
}

.form-control[readonly]
{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    resize: none;
}

.input-group {
    width: 100%;
}
.contact-group-addon {
    width: 100px;
    border: none;
    box-shadow: none;
    background: none;
    text-align: left;
}

.adminBtnGroup {
    position: fixed;
    z-index: 2;
}
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
#name {
    resize:none;
}
