.well {
    background: white;
}
.club-header {
    position: relative;
    overflow: hidden;
    height: 300px;
}
.image-holder {
    position: absolute;
    
}
.club-name-holder {
    z-index: 1;
    position: relative;
}
.clubTitle {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    color: white;
    border: none;
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgb(35, 35, 35) 100%);
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgb(35, 35, 35) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgb(35, 35, 35) 100%);
}
.banner-photo {
    padding: 0px;
    width: 940px;
}

.club-body {
    background-color: #E9EBEE;
    padding: 0px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.club-about-well {
    padding-top: 5px;
}

.form-control[disabled]
{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    resize: none;
    cursor: default;
}

.input-group {
    width: 100%;
}
.contact-group-addon {
    width: 100px;
    border: none;
    box-shadow: none;
    background: none;
    text-align: left;
}

.adminBtnGroup {
    position: fixed;
    z-index: 2;
}
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
#name {
    resize:none;
}
.eventDateHolder {
    width: 75px;
    border-style: solid;
    border-radius: 20px;
    border-width: thin;
    text-align: center;
    padding: 5px;
    position: relative;
    margin-bottom: -87px;
    right: -91%;
    top: -54px;
    background: white;
    border-color: red;
}

